body {
	padding: 0 1.5em;
	font-family: 'Oxygen', sans-serif;
	line-height: 1.3em;
	font-weight: 300;
}

article {
	margin: 0 auto;
	min-width: 270px;
	max-width: 38em;
}

.question {
	font-weight: 400;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.github {
	position: relative;
	top: -6px;
	margin-left: 2em;
}